<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.UserMapper">


    <select id="selectByDate" resultType="Integer" parameterType="Integer">
    <![CDATA[
        select count(*)
        from user
        where DATEDIFF(NOW(), reg_date) < #{day}
        ]]>

    </select>
    <select id="selectProvince" resultType="com.zy.entity.Province">
        select count(*) value,province name
        from user
        GROUP BY province
    </select>

</mapper>